.card{
    display: flex;
    flex-direction: column;
    width: 48%;
    border: 1px solid red;
    margin: 10px 0px ;
}

.cardimage{
    width:100%;
    padding: 2px;

}

.cardimage img{
    width: 100%;
    height: auto;
}

.cardcontent, .cardfooter{
    padding: 10px;

}

.cardfooter {
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.addbutton{
    padding: 10px;
    background-color: burlywood;
    color: black;
    border-radius: 10px;
}

.promo{
    border: 2px solid red;
}