.card {
  display: flex;
  flex-direction: column;
  width: 48%;
  border: 1px solid #e2e2e2;
  margin: 10px 0px;
  padding-bottom: 5px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  z-index: 10;
}

.foodtype {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1000;
}

.cardimage {
  width: 100%;
}

.cardimage img {
  width: 100%;
  height: auto;
}

.cardcontent,
.cardfooter {
  padding: 6px 10px;
}

.cardcontent h4 {
  font-size: 12px;
  line-height: 18px;
}

.cardcontent p {
  font-size: 10px;
}

.cardfooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardfooter h4 {
  font-size: 10px;
}

.addbutton {
  padding: 5px;
  background-color: #ffc122;
  color: black;
  border-radius: 20px;
  width: 60px;
  text-align: center;
  font-size: 10px;
  line-height: 14px;
}
