/*
:root {
  --primarycolor: '#FFC122';
  --black: '#00000';
  --btnshadow: '0px 4px 6px rgba(0, 0, 0, 0.1)';
}
*/
.contentFlexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentFlex {
  display: flex;
  align-items: center;
}

.contentFlexSpaceBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contentFlexColumnCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  padding: 0px 20px;
}

.sections {
  padding: 0px 20px;
}

.main {
  height: 100vh;
  width: 100vw;
  background-color: #ffffff;
}

.banner {
  background: #ffc122;
  height: 40vh;
  display: flex;
}

.homelogo {
  padding: 15px 20px;
  box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 65px;
  font-weight: 400;
}

.homelogo div {
  margin-right: 10px;
}

.btnContainer {
  width: 80%;
  margin: 25px auto;
  text-align: center;
}

.homefooter {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 8px;
  text-align: center;
}

.map {
  position: relative;
  width: 100vw;
  height: 55vh;
  background-color: #f1f1f1;
  overflow: hidden;
  z-index: 100;
}

.content {
  position: absolute;
  border-radius: 25px 25px 0px 0px;
  background-color: #ffffff;
  padding: 25px 30px 0px;
  height: calc(100% - 45vh);
  z-index: 1000;
  margin-top: -35px;
  box-shadow: 0px -1px 12px 1px #cccbcb;
  left: 0;
  bottom: 0;
  width: 100%;
}

.content h3 {
  font-size: 24px;
  line-height: 2.5;
  letter-spacing: 0.5px;
  margin: 0px;
}

.content h5 {
  font-size: 16px;
  line-height: 2;
  font-weight: 400;
  margin: 0px;
}

.content input {
  margin: 10px 0px;
}

/* Main Page */
.main {
  overflow: auto;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #000000;
  align-items: center;
  color: #ffffff;
  padding: 15px 12px;
  font-size: 13px;
  line-height: 18px;
}

.takeaway {
  border: 1px solid #ffffff;
  padding: 5px;
  border-radius: 5px;
  color: #ffffff;
}

.searchinput {
  padding: 15px 20px 5px;
}

.payment {
  position: relative;
  overflow: hidden;
}

.payment h4 {
  margin-bottom: 12px;
  padding: 10px 20px;
}

/* Main Page 




.mainbanner {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffc122;
  overflow: hidden;
}

.mainbanner img {
  width: 100%;
  margin: 0px auto;
}

.mainsection {
  position: relative;
  height: 250px;
  border-radius: 25px 25px 0px 0px;
  margin-top: -20px;
  z-index: 1000;
  background-color: #ffffff;
  border: 1px solid red;
  overflow: auto;
}

.maincontent {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 20px;
}

.searchinput {
  width: 100%;
  padding-top: 12px;
}

.innersection {
  position: relative;
  border-radius: 25px 25px 0px 0px;
  background-color: #ffffff;
  z-index: 1000;
}

.maincontent {
  border: 2px solid blue;
  height: 450px;
}

.paddingcontainer {
  padding: 15px 20px;
}

.paytitle {
  padding: 0px 20px;
}

.payment {
  padding: 10px 0px;
  position: relative;
  overflow: hidden;
}

.payment h4 {
  margin-bottom: 12px;
}

.myslidercontainer {
  border: 1px solid red;
  position: relative;
  overflow: hidden;
  margin-bottom: 40px;
  margin-top: 30px;
  height: 220px;
}
*/

.orderheader {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  height: 65px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.orderheader div {
  padding: 7px;
}

.applypromo {
  margin-bottom: 40px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  height: 65px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  justify-content: space-between;
  padding: 20px;
}

.item_price {
  display: flex;
  justify-content: space-between;
  margin: 30px;
  font-weight: 700;
}

.price_banner {
  margin-bottom: 30px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
}

.categorycontent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.placeorder {
  width: 100%;
  height: 100px;
  position: fixed;
  bottom: 0%;
  box-shadow: 0px -10px 10px rgba(0, 0, 0, 0.2);
}

.btnContainer2 {
  width: 85%;
  height: 60px;
  margin: 20px;
  text-align: center;
  border-radius: 10px;
  background-color: #ffc122;
  font-weight: 700;
  font-size: 25px;
}
.bottomborder {
  border-bottom: 2px dashed grey;
  padding-bottom: 15px;
}
