.popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10000;
  background-color: wheat;
  background-color: rgba(0, 0, 0, 0.75);
  padding-top: 40vh;
  overflow: hidden;
}

.popupinner {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: white;
  height: 55vh;
  width: 100vw;
  border-radius: 25px 25px 0px 0px;
}

.popupcontainer {
  position: relative;
  padding: 10px;
}

.closebtn {
  position: absolute;
  right: 10px;
  top: 10px;
}

.closebtn img {
  width: 30px;
}
